.TicketsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ShowMoreTickets {
    color: #ffffff;
    background-color: #2196f3;
    width: 100%;
    max-width: 502px;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #008cff;
        color: #f4efef;
    }
}